
nav {
  background-color: blue;
  padding: 10px;
}
.educ{
  background-color: silver;
}
.exp {
  background-color: gray;
  color: white;
}
.skills {
  background-color: silver;
}
.contact {
  background-color: gray;
  color: white;
}
h2 {
  margin: -15px 0;
}
