
nav {
  background-color: blue;
  padding: 10px;
}
.educ{
  background-color: silver;
}
.exp {
  background-color: gray;
}
.skills {
  background-color: silver;
}
.contact {
  background-color: gray;
}
